:root {
    --dark-color: rgba(4, 59, 11, 0.4);
    --medium-color: rgba(12, 179, 34, 0.4);
    --light-color: rgba(141, 247, 155, 0.4);
  }

* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 3rem;
    font-size: 4rem;
    background-color: #37394b;
    color: rgb(243, 211, 150);
    width: 1332px;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    
}

main {
    width: 1332px;
    margin: 0 auto;
    padding: 13.8rem 3rem;
    margin-top: -7rem;
    background-image: linear-gradient(to bottom right, var(--medium-color), var(--light-color)), url('../img/pic1.jpg');
    background-size: 1430px;
}

.text-box {
    width: 100%;
    height: 30vh;
}

.img {
    width: 35vh;
    float: right;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    animation: appear 4s;
}

.footer {
    width: 1332px;
    margin: 0 auto;
    background-color: #37394b;
    columns: wheat;
    padding: 3rem;
}

.icons {
    text-align: center;
    letter-spacing: 5px;
}

.btn {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: 1.27vw;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
    overflow: hidden;
    border: 3px;
    border-color: white;
    border-style: solid;
    animation: btn 4s;
    transition-property: transform;
    transition-duration: 3s;
}

.btn:hover {
  transform: rotateY(200deg);
}

.title {
    animation: moveInLeft 4s ease-out;
}

.text {
    color: #ffffff;
    animation: appear 4s;
}

.text2 {
    color: #ffffff;
    animation: moveInDown 4s;
}

.icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #3a8536;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.4rem;
    transition: 0.6s;
}

.icons a:hover {
    background-color: #3a8536;
    color: #ffffff;
    border-radius: 60%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-650px);
    }
  
    80% {
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0)
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}